<div class="row">
  <div class="col-xs-2">
     <a class="btn btn-success" [routerLink]="['dodaj']">Dodaj</a>
  </div>
  <div class="col-xs-10" style="margin-top: -1.7%;">
    <form [formGroup]="searchForm" class="navbar-form navbar-right"  (ngSubmit)="onSearch()">
      <input formControlName="name" type="text" class="form-control" placeholder="Co szukasz?">
      <button type="submit" class="btn btn-default">Szukaj</button>
    </form>
</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-inventory-item *ngFor="let item of items; let i = index" [item]="item" [_id]="i"></app-inventory-item>
    </ul>
  </div>
</div>