<a [routerLink]=_id class="list-group-item clearfix" style="margin-bottom: 1%;" routerLinkActive="active">
  <span class="pull-left">
    <h3 class="list-group-item-heading">{{item.name}}</h3>
    <div *ngIf="item.description.length>45;then short else normal"></div>
    <ng-template #short><p><em>{{item.description | slice:0:45}}(...)</em></p></ng-template>
    <ng-template #normal><p><em>{{item.description}}</em></p></ng-template>
  </span>
  <span class="pull-right">
    <img src="{{item.imagePath}}" class="img-responsive" style="max-height: 50px;"/>
  </span>
</a>