<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedItem?.imagePath}}" class="img-responsive" style="max-height:250px;">
  </div>
  <div class="col-xs-12">
    <div class="bs-callout bs-callout-warning">
      <h3 style="margin-top:-2%;">{{selectedItem?.name}}</h3>
      {{selectedItem?.description}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Edytuj</button>
    <button class="btn btn-danger">Usuń</button>
  </div>
</div>
<hr/>
<div class="row"> 
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Ilość</th>
          <th>Budynek</th>
          <th>Sala</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of selectedItem?.locations" style="cursor: pointer">
          <td>{{location.quantity}}</td>
          <td>{{location.building}}</td>
          <td>{{location.room}}</td>
        </tr>
      </tbody>
    </table>
  </div>

<app-location-add></app-location-add>


