<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedItem?.imagePath}}" class="img-responsive">
  </div>
  <div class="col-xs-12">
    <h1>{{selectedItem.name}}</h1>
 </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-info">Powrót do listy</button>
    <button class="btn btn-success">Edytuj</button>
    <button class="btn btn-danger">Usuń</button>
  </div>
</div>
<hr/>
<div class="row">
  
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Ilość</th>
        <th>Budynek</th>
        <th>Sala</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{selectedItem?.quantity}}</td>
        <td>{{selectedItem?.building}}</td>
        <td>{{selectedItem?.room}}</td>
      </tr>
    </tbody>
  </table>
</div>

