<div class="row" style="margin-bottom: 5%;">
  <div class="bs-callout bs-callout-default" style="max-width: 70%;">
    <form id="location-add">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="quantity">Ilość</label>
          <input type="text" id="quantity" required class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="building">Budynek</label>
          <input type="text" id="building" required class="form-control">
        </div>

        <div class="col-sm-4 form-group">
          <label for="room">Sala</label>
          <input type="text" id="room" required class="form-control">
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Dodaj</button>
            <button class="btn btn-primary" type="submit">Wyczyść</button>
          </div>
        </div> 
    </form> 
  </div>  
</div>